HOST_PORT=3042
ALEXA_APPLICATION_ID=amzn1.ask.skill.replace-me
OPENCLAW_BASE_URL=http://192.168.4.56:18789
OPENCLAW_TOKEN=replace-me
OPENCLAW_AGENT_ID=alexa
OPENCLAW_CLAW_ID=default
OPENCLAW_CLAW_NAME=my-claw
PAIRING_ADMIN_TOKEN=replace-with-a-random-value
AUTO_PAIR_SINGLE_CLAW=true
FAST_RESPONSE_BUDGET_MS=5500
OPENCLAW_TIMEOUT_MS=600000
